/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 30, 2023, 10:50:21 AM
    Author     : imano
*/
#imanol  {
  background-color: greenyellow;
        }
p{
  background-color: yellow;
}

